body {
/* 	grid-template-columns: 256px 1fr; */
	color: white;
}

nav {
	justify-content: center;
}

aside {
	padding: 16px;
/* 	width: 30vw; */
}

main {
	padding: 32px;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

p {
	margin-top: 8px;
	margin-bottom: 8px;
}

button {
	margin-bottom: 16px;
}

.canvas-container {
	flex-grow: 1;
/* 	min-height: 0; */
	width: 512px;
	height: 256px;
}

p.small {
	font-size: 10pt;
	color: #DDD;
	margin-top: 4px;
	margin-bottom: 4px;
}
